<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zac Fard | Graphic Designer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.png"/>

    <!--<link rel="stylesheet" href="/assets/css/somytaheri-bootstrap-min.css">-->
    <link rel="stylesheet" href="/assets/css/zacfard.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <style type="text/css">

        #header {
            background:transparent;
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
            zoom: 1;
        }
        .navbar-collapse, .navbar-default {
            background:transparent;
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
            zoom: 1;
        }

    </style>
    <![endif]-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARJlyuGlqgbTHW3Dh2aWDLdK-GqljaQ3c"></script>
    <!--<script src="assets/js/vendor/modernizr.min.js"></script>-->


    <!--<script src="/assets/js/vendor/respond.min.js"></script>-->
</head>
<body>
    {{> body}}


<script src="/assets/js/vendor/modernizr.min.js" async="async"></script>
<script src="/assets/js/vendor/jquery.min.js"></script>
<script src="/assets/js/vendor/jquery-ui.min.js"></script>
<script src="/assets/js/vendor/bootstrap-min.js"></script>
<script src="/assets/js/vendor/jquery.cycle2.min.js"></script>
<script src="/assets/js/zacfard-src.js"></script>

</body>
</html>