<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="headingtitleStyle">ABOUT ME</h3>
                <p class="paragraphStyle">I am a graphic designer based in Melbourne. I have experience of working on several different formats of graphic design including magazine, print, advertising, logo, cover of magazine and also web design.
                    Although I have been working as a freelance graphic designer, I have found the best moments of this career when I worked in team. the most significant parts of this job are seeing deadline and working under pressure which have always been exciting and challenging for me  and I have always been able to handle easily.
                </p>
            </div>
        </div>
    </div>

    <div class="skill">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <h3 class="titleStyle">SKILLS / ABILITY</h3>
                    <ul>
                        <li class="clearfix">
                            <img class="skillIcon" src="assets/images/ps.png" alt=""/>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img class="skillIcon" src="assets/images/ai.png" alt=""/>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img class="skillIcon" src="assets/images/id.png" alt=""/>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4">
                    <div class="education">
                        <h3 class="titleStyle">EDUCATION</h3>
                        <ul>
                            <li>
                                <h4 class="subtitleStyle">Photography diploma,</h4>
                                <span class="descriptionStyle">Tehran, Iran 2013</span>
                            </li>
                            <li>
                                <h4 class="subtitleStyle">Certificate v of Interior Decoration,</h4>
                                <span class="descriptionStyle">Tehran, Iran 2006</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutExp">
        <div class="container">
            <div class="row work">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <h3 class="titleStyle">WORK EXPERIENCE</h3>
                    <ul>
                        <li>
                            <h4 class="subtitleStyle">Freelance Graphic Designer</h4>
                            <span class="descriptionStyle">Melbourne, Australia  [June 2013 - Present]</span>
                        </li>
                        <li>
                            <h4 class="subtitleStyle">Senior Graphic Designer</h4>
                            <span class="descriptionStyle">Ghazaa magazine, Tehran, Iran [June 2004 - May 2013]</span>
                        </li>
                        <li>
                            <h4 class="subtitleStyle">Freelance Graphic Designer</h4>
                            <span class="descriptionStyle">Parnian Co, Tehran, Iran [Des 2008 - May 2013]</span>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4">
                    <ul class="experience">
                        <li>
                            <h4 class="subtitleStyle">Freelance Graphic Designer</h4>
                            <span class="descriptionStyle">Fanavari Magazine, Tehran, Iran [Apr 2009 - May 2011]</span>
                        </li>
                        <li>
                            <h4 class="subtitleStyle">Assistant Designer</h4>
                            <span class="descriptionStyle">Jam co, Tehran, Iran [Sep 2002 - June 2004]</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 award">
                    <h3 class="titleStyle">AWARD</h3>
                    <span class="descriptionStyle">Second place award in press festival in Iran 2011</span>
                </div>
            </div>
        </div>
    </div>


    <div class="hobby">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hobbyContent">
                        <h3 class="titleStyle">THINGS I ENJOY</h3>
                        <ul class="">
                            <li><span class="photography"></span></li>
                            <li><span class="traveling"></span></li>
                            <li><span class="climb"></span></li>
                            <li><span class="family"></span></li>
                            <li><span class="food"></span></li>
                            <li><span class="coffee"></span></li>
                            <li><span class="dog"></span></li>
                            <li><span class="plant"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>