<section id="about">
    <div class="container">
        <h3 class="headingtitleStyle">ABOUT ME</h3>
        <p class="paragraphStyle">I am a graphic designer based in Melbourne. I have experience of working on several different formats of graphic design including magazine, print, advertising, logo, cover of magazine and also web design.
            Although I have been working as a freelance graphic designer, I have found the best moments of this career when I worked in team. the most significant parts of this job are seeing deadline and working under pressure which have always been exciting and challenging for me  and I have always been able to handle easily.
        </p>
    </div>
    <div class="skill row">
        <div class="container">
            <div class="col-xs-6 col-sm-6">
                <h3 class="titleStyle">SKILLS / ABILITY</h3>
                <ul>
                    <li>
                        <span class="skillIcon">Ps</span>
                        <div class="progress">

                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span></span>
                    </li>
                    <li>
                        <span></span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6">
                <h3 class="titleStyle">EDUCATION</h3>
                <ul>
                    <li>
                        <h4 class="subtitleStyle">Photography diploma,</h4>
                        <span class="descriptionStyle">Tehran, Iran 2013</span>
                    </li>
                    <li>
                        <h4 class="subtitleStyle">Certificate v of Interior Decoration,</h4>
                        <span class="descriptionStyle">Tehran, Iran 2006</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3 class="titleStyle">WORK EXPERIENCE</h3>
            <ul class="col-xs-12 col-sm-6">
                <li>
                    <h4 class="subtitleStyle">Freelance Graphic Designer</h4>
                    <span class="descriptionStyle">Melbourne, Australia  [June 2013 - Present]</span>
                </li>
                <li>
                    <h4 class="subtitleStyle">Senior Graphic Designer</h4>
                    <span class="descriptionStyle">Ghazaa magazine, Tehran, Iran [June 2004 - May 2013]</span>
                </li>
                <li>
                    <h4 class="subtitleStyle">Freelance Graphic Designer</h4>
                    <span class="descriptionStyle">Parnian Co, Tehran, Iran [Des 2008 - May 2013]</span>
                </li>
            </ul>
            <ul class="col-xs-12 col-sm-6">
                <li>
                    <h4 class="subtitleStyle">Freelance Graphic Designer</h4>
                    <span class="descriptionStyle">Fanavari Magazine, Tehran, Iran [Apr 2009 - May 2011]</span>
                </li>
                <li>
                    <h4 class="subtitleStyle">Assistant Designer</h4>
                    <span class="descriptionStyle">Jam co, Tehran, Iran [Sep 2002 - June 2004]</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <h3 class="titleStyle">AWARD</h3>
        <span class="descriptionStyle">Second place award in press festival in Iran 2011</span>
    </div>
    <div class="hobby">
        <div class="container">
            <h3 class="titleStyle">THINGS I ENJOY</h3>
            <div></div>
        </div>
    </div>
</section>