<section id="contact">
    <div class="contactContent">
        <h3 class="headingtitleStyle">contact</h3>
        <ul>
            <li class="col-xs-12 col-sm-3"><span href="#" class="email"></span></li>
            <li class="col-xs-12 col-sm-3"><span href="" class="phone"></span></li>
            <li class="col-xs-12 col-sm-3 "><a href="https://www.linkedin.com/pub/zac-fard/31/910/908" target="blank" class="linkedin"></a></li>
            <li class="col-xs-12 col-sm-3"><a href="" class="beonce"></a></li>
        </ul>
        <div class="emailShow">
            <span class="">zacfard@gmail.com</span>
        </div>
        <div class="phoneShow">
            <span class="">04 03 015 806</span>
        </div>
        <div id="map-canvas" class="google-map"></div>
    </div>
</section>
