<section id="contact">
    <h3 class="headingtitleStyle">contact</h3>
    <ul>
        <li class="col-xs-12 col-md-offset-1 col-md-2"><a href="" class="email"><span class="contactItems">zacfard@gmail.com</span></a>

        </li>
        <li class="col-xs-12 col-md-2"><a href="" class="phone"></a></li>
        <li class="col-xs-12 col-md-2"><a href="" class="location"></a></li>
        <li class="col-xs-12 col-md-2"><a href="" class="linkedin"></a></li>
        <li class="col-xs-12 col-md-2"><a href="" class="beonce"></a></li>
    </ul>
    <div id="map-canvas" class="google-map"></div>
</section>