<section id="footer">
    <!--<h3 class="horzLine"><span class="footerText">ZAC FARD</span></h3>-->
    <h3 class="horzLine"><small class="footerText"><span class="year">2014</span> © Zac Fard</small></h3>
</section>