<header class="header">
    <div class="container">
        <div class="logoStyle">
            <a href="#home">
                <img src="assets/images/logo.png" alt="logo"/>
            </a>
        </div>
        <div class="navStyle">
            {{> menu}}
        </div>
    </div>
</header>