<section id="home">
    <div class="homeBcg">
        <div class="homeContent col-xs-8 col-xs-offset-2">
            <p class="homeText1">THE GREATEST MAN IS <br/>
                HE WHO CHOOSES RIGHT WITH INVINCIBLE DETERMINATION.
            </p>
            <span class="homeText2">Stranger by the River <br/>
                Paul Twitchel
            </span>
        </div>
    </div>

</section>