<section id="portfolio">
    <h3 class="headingtitleStyle">portfolio</h3>
    <ul>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/00.jpg" alt="" data-toggle="modal" id="0" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/01.jpg" alt="" data-toggle="modal" id="1" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/02.jpg" alt="" data-toggle="modal" id="2" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/03.jpg" alt="" data-toggle="modal" id="3" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/04.jpg" alt="" data-toggle="modal" id="4" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/05.jpg" alt="" data-toggle="modal" id="5" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/06.jpg" alt="" data-toggle="modal" id="6" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/07.jpg" alt="" data-toggle="modal" id="7" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/08.jpg" alt="" data-toggle="modal" id="8" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/09.jpg" alt="" data-toggle="modal" id="9" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/10.jpg" alt="" data-toggle="modal" id="10" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/11.jpg" alt="" data-toggle="modal" id="11" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/12.jpg" alt="" data-toggle="modal" id="12" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/13.jpg" alt="" data-toggle="modal" id="13" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/14.jpg" alt="" data-toggle="modal" id="14" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/15.jpg" alt="" data-toggle="modal" id="15" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/16.jpg" alt="" data-toggle="modal" id="16" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/17.jpg" alt="" data-toggle="modal" id="17" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/18.jpg" alt="" data-toggle="modal" id="18" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/19.jpg" alt="" data-toggle="modal" id="19" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/20.jpg" alt="" data-toggle="modal" id="20" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/21.jpg" alt="" data-toggle="modal" id="21" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/22.jpg" alt="" data-toggle="modal" id="22" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/23.jpg" alt="" data-toggle="modal" id="23" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/24.jpg" alt="" data-toggle="modal" id="24" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/25.jpg" alt="" data-toggle="modal" id="25" class="grayscale imgModal" data-target="#myModal">
        </li>
    </ul>

</section>