<section id="portfolio">
    <h3 class="headingtitleStyle">portfolio</h3>
    <ul id="thumbnail">
        <li class="imageSize">
            <img src="assets/images/portfolio/small/00.jpg" alt="" data-toggle="modal" id="0" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/01.jpg" alt="" data-toggle="modal" id="1" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/02.jpg" alt="" data-toggle="modal" id="2" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/03.jpg" alt="" data-toggle="modal" id="3" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/04.jpg" alt="" data-toggle="modal" id="4" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/05.jpg" alt="" data-toggle="modal" id="5" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/06.jpg" alt="" data-toggle="modal" id="6" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/07.jpg" alt="" data-toggle="modal" id="7" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/08.jpg" alt="" data-toggle="modal" id="8" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/09.jpg" alt="" data-toggle="modal" id="9" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/10.jpg" alt="" data-toggle="modal" id="10" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/11.jpg" alt="" data-toggle="modal" id="11" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/12.jpg" alt="" data-toggle="modal" id="12" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/13.jpg" alt="" data-toggle="modal" id="13" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/14.jpg" alt="" data-toggle="modal" id="14" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/15.jpg" alt="" data-toggle="modal" id="15" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/16.jpg" alt="" data-toggle="modal" id="16" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/17.jpg" alt="" data-toggle="modal" id="17" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/18.jpg" alt="" data-toggle="modal" id="18" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/19.jpg" alt="" data-toggle="modal" id="19" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/20.jpg" alt="" data-toggle="modal" id="20" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/21.jpg" alt="" data-toggle="modal" id="21" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/22.jpg" alt="" data-toggle="modal" id="22" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/23.jpg" alt="" data-toggle="modal" id="23" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/24.jpg" alt="" data-toggle="modal" id="24" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/25.jpg" alt="" data-toggle="modal" id="25" class="grayscale imgModal" data-target="#myModal">
        </li>
        <li class="imageSize">
            <img src="assets/images/portfolio/small/26.jpg" alt="" data-toggle="modal" id="26" class="grayscale imgModal" data-target="#myModal">
        </li>
    </ul>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body vrtline">
                    <div class="cycle-slideshow"
                         data-cycle-tmpl-regex="\[\[((\.)?.*?)\]\]"
                         data-cycle-fx="fade"

                         data-cycle-timeout="0"
                         data-cycle-prev="#prev"
                         data-cycle-next="#next"
                         data-cycle-caption="#alt-caption"
                         data-cycle-caption-template="[[alt]]">
                        <!--<div class="slider-content ">-->
                            <img src="assets/images/portfolio/large/00.png" alt="Magazine design - 2014"/>
                            <img src="assets/images/portfolio/large/01.png" alt="<a href='http://www.rahiemakeup.com' target='blank'>Web design - 2014 <br/><span>rahiemakeup.com</span></a>"/>
                            <img src="assets/images/portfolio/large/02.png" alt="Magazine design - 2013"/>
                            <img src="assets/images/portfolio/large/03.png" alt="Magazine design - 2011"/>
                            <img src="assets/images/portfolio/large/04.png" alt="Magazine design - 2011"/>
                            <img src="assets/images/portfolio/large/05.png" alt="Magazine design - 2010"/>
                            <img src="assets/images/portfolio/large/06.png" alt="Magazine design - 2013"/>
                            <img src="assets/images/portfolio/large/07.png" alt="Magazine design - 2013"/>
                            <img src="assets/images/portfolio/large/08.png" alt="Magazine design - 2012"/>
                            <img src="assets/images/portfolio/large/09.png" alt="Magazine design - 2013"/>
                            <img src="assets/images/portfolio/large/10.png" alt="Magazine design - 2013"/>
                            <img src="assets/images/portfolio/large/11.png" alt="Magazine design - 2009"/>
                            <img src="assets/images/portfolio/large/12.png" alt="Magazine design - 2013"/>
                            <img src="assets/images/portfolio/large/13.png" alt="Magazine design - 2010"/>
                            <img src="assets/images/portfolio/large/14.png" alt="Cover design - 2010"/>
                            <img src="assets/images/portfolio/large/15.png" alt="Cover design - 2010"/>
                            <img src="assets/images/portfolio/large/16.png" alt="Cover design - 2013"/>
                            <img src="assets/images/portfolio/large/17.png" alt="Cover design - 2013"/>
                            <img src="assets/images/portfolio/large/18.png" alt="Cover design - 2010"/>
                            <img src="assets/images/portfolio/large/19.png" alt="Magazine design - 2008"/>
                            <img src="assets/images/portfolio/large/20.png" alt="Cover design - 2011"/>
                            <img src="assets/images/portfolio/large/21.png" alt="Cover design - 2011"/>
                            <img src="assets/images/portfolio/large/22.png" alt="Logo design - 2014"/>
                            <img src="assets/images/portfolio/large/23.png" alt="Logo design - 2008"/>
                            <img src="assets/images/portfolio/large/24.png" alt="Web design - 2009"/>
                            <img src="assets/images/portfolio/large/25.png" alt="Ad design - 2009"/>
                            <img src="assets/images/portfolio/large/26.png" alt="Ad design - 2009"/>
                        <!--</div>&lt;!&ndash; / .slider-content&ndash;&gt;-->
                    </div><!-- / .slider-wrapper-->



                </div>
                <div class="modal-footer">
                    <div id="alt-caption" class="caption"></div>
                    <div class="arrow">
                        <a href=# id="next"><img src="assets/images/portfolio/next.png" alt=""/></a>
                        <a href=# id="prev"><img src="assets/images/portfolio/prev.png" alt=""/></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

</section>