#about {
  padding-top: 20px;
  .skill {
    background-color: @section2-bcg;
    padding-bottom: 8px;
    padding-top: 20px;
  }
    .progress {
      width: 75%;
      height: 24px;
      margin-bottom: 7px;
      margin-top: 7px;
      background-color: @bar-bcg-color;
      border-radius: 0;
    }
    .progress-bar {
      background-color: @bar-color;
    }

  .aboutExp {
    margin-bottom: 20px;
    margin-top: 20px;
    ul {
      li {
        margin-bottom: 20px;
      }
    }
  }
  .education {
    margin-top: 20px;
    li {
      margin-bottom: 12px;
    }
  }
  .skillIcon {
    float: left;
    width: 38px;
    height: 38px;
    border-radius: 2px;
    display: block;
    margin-right: 10px;
    margin-bottom: 7px;
  }
  .award {
    margin-top: 32px;
  }

  .hobby {
    padding-top: 13px;
    background-color: @section1-bcg;
  }
  .hobbyContent {
    text-align: center;

    h3 {
      text-align: center;
    }
    li {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 2%;
      margin-left: 2%;
      span {
        background-image: url(../images/sprite-2.png);
        background-repeat: no-repeat;
        display: inline-block;
        height: 21px;
        width: 21px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      margin-right: 0;
    }
  }


    .photography {
      background-position: 0px 0px;
    }
    .traveling {
      background-position: 0px -25px;
    }
    .climb {
      background-position: 0px -50px;
    }
    .family {
      background-position: 0px -75px;
    }
    .food {
      background-position: 0px -100px;
    }
    .coffee {
      background-position: 0px -125px;
    }
    .dog {
      background-position: 0px -150px;
    }
    .plant {
      background-position: 0px -175px;
    }
  }



@media (min-width: @min-small) {
  #about {
    padding-top: 90px;
    .progress {
      height: 24px;
      margin-bottom: 12px;
      margin-top: 12px;
    }
    .aboutExp {
      margin-bottom: 20px;
      margin-top: 20px;
      ul {
        li {
          margin-bottom: 23px;

        }
      }
    }
    .education {
      margin-top: 0;
      li {
        margin-bottom: 23px;
      }
    }
    .skillIcon {
      width: 48px;
      height: 48px;
      margin-right: 10px;
      margin-bottom: 7px;
    }
    .award {
      margin-top: 72px;
    }
    .hobby {
      li {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 3%;
        margin-left: 3%;
        span {
          background-image: url(../images/sprite.png);
          height: 42px;
          width: 42px;
        }
      }
      li:first-child {
        margin-left: 0;
      }
      li:last-child {
        margin-right: 0;
      }

      span.photography {
        background-position: 0px 0px;
      }
      .traveling {
        background-position: 0px -50px;
      }
      .climb {
        background-position: 0px -100px;
      }
      .family {
        background-position: 0px -150px;
      }
      .food {
        background-position: 0px -200px;
      }
      .coffee {
        background-position: 0px -250px;
      }
      .dog {
        background-position: 0px -300px;
      }
      .plant {
        background-position: 0px -350px;
      }
    }
//    .skillIcon {
//      width: 48px;
//      height: 48px;
//      font-size: @font-size-large;
//    }
  }
}

@media (min-width: @min-large) {
  #about {
    .hobby {
      li {
        margin-right: 4%;
        margin-left: 4%;
      }
//      li:first-child {
//        margin-left: 0;
//      }
//      li:last-child {
//        margin-right: 0;
//      }
    }
  }
}